asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
Django==4.0.2
django-stubs==1.10.1
django-stubs-ext==0.4.0
idna==3.3
mypy==0.942
mypy-extensions==0.4.3
mysqlclient==2.1.0
Pillow==9.0.1
PyJWT==2.3.0
pytz==2022.1
qrcode==7.3.1
requests==2.27.1
sqlparse==0.4.2
tomli==2.0.1
twilio==7.8.2
types-pytz==2021.3.6
types-PyYAML==6.0.5
typing_extensions==4.1.1
urllib3==1.26.8
