#map {
    height: 100%;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.site-bar {
  border-style: solid;
  height: 0;
  width: 100%;
  position:fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
  /*color: #818181;*/
}


.site-map-icon {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700&display=swap');

.site-menu-wrapper {
  width: 590px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
}

.site-menu-vehicle-list-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 10px;
}

.site-menu-vehicle-list-grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.site-menu-button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

button {
  letter-spacing: 3px;
  border: none;
  padding: 10px;
  background-color: #bccbe9;
  color: #232c3d;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: #d5e3ff;
}

button.active {
  background-color: white;
}

.active {
  background-color: white;
}

p {
  text-align: left;
  padding: 10px;
}

.content {
  display: none;
  padding: 10px 20px;
}

.content.active {
  display: block;
}

.session-status-grid-container {
  position: absolute;
  top: 5vh;
  width:100%;
  background-color: white;
  z-index: 3;
  display: grid;
  grid-template-columns: auto auto;
  border-style: solid;
  font-size: 30px;
}

.session-status-grid-item1 {
  text-align:left;
  margin-left: 20px;
}
.session-status-grid-item2 {
  text-align:right;
  margin-right: 20px;
}