:root {
    --light-green: #92BA92;
    --dark-green: #78938A;
    --navy: #525E75;
    --brown: #F1DDBF;
    --red: #FA8072;
}


#map {
    height: 100%;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: var(--dark-green);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: black;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

.sidebar-profile {
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}

.sidebar-login {
    border-top: 2px solid white;
    margin-top: 10px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.site-bar {
    border-top-style: solid;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
    /*color: #818181;*/
}

.site-menu-exit-btn {
    width: 40px;
    float: left;
    cursor: pointer
}

.site-map-icon {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700&display=swap');

.site-menu-wrapper {
    max-width: 800px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
}

.site-menu-vehicle-list-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
}

.site-menu-vehicle-list-grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.site-menu-button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.site-menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 590px;
    margin: auto;
}

button {
    letter-spacing: 3px;
    border: none;
    padding: 10px;
    background-color: var(--dark-green);
    color: #232c3d;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: var(--light-green);
}

button.active {
    background-color: white;
}

.active {
    background-color: white;
}

p {
    text-align: left;
    padding: 10px;
}

.content {
    display: none;
    padding: 10px 20px;
}

.content.active {
    display: block;
}

.session-status-grid-container {
    position: absolute;
    top: 5vh;
    width: 100%;
    background-color: white;
    z-index: 3;
    display: grid;
    grid-template-columns: auto auto;
    border-style: solid;
    font-size: 30px;
}

.session-status-cancel-btn {
    background-color: var(--red) !important;
}

.hidden {
    display: none !important;
}

.session-status-grid-item1 {
    text-align: left;
    margin-left: 20px;
}

.session-status-grid-item2 {
    text-align: right;
    margin-right: 20px;
}

.rent-spot-menu-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    /*letter-spacing: 3px;*/
    margin-top: 20px;
}

.rent-spot-menu-grid-item1 {
    font-size: 28px;
    text-align: left;
    margin-left: 20px;
}

.rent-spot-menu-grid-item2 {
    text-align: right;
    margin-right: 20px;
}

.rent-spot-menu-grid-item2 img {
    width: 80px;
}

.parking-spot-menu-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    /*letter-spacing: 3px;*/
    margin-top: 20px;
}

.parking-spot-menu-grid-item1 {
    font-size: 28px;
    text-align: left;
    margin-left: 20px;
}

.parking-spot-menu-grid-item2 {
    text-align: right;
    margin-right: 20px;
}

.site-menu-button {
    min-width: 280px;
}

.site-menu-rent-section {
    margin-top: 20px;
}

/* (A) THE BASE */
.bar {
    padding: 10px;
    margin: 10px;
    color: #333;
    background: #fafafa;
    border: 1px solid #ccc;
    /*position:absolute;*/
    /*top: 10vh;*/
    /*left: 50vh;*/
    z-index: 10;
    animation: fadeOut 2s forwards;
    animation-delay: 5s;
}

.message-container {
    /*position: fixed;*/
    position:fixed;
    top: 10vh;
    left: 0;
    z-index: 10;
    transform: translate(calc(50vw - 50%));
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* (B) THE VARIATIONS */
.info {
  color: #204a8e;
  background: #c9ddff;
  border: 1px solid #4c699b;
}
.success {
  color: white;
  background: var(--dark-green);
  border: 1px solid #617c42;
}
.warn {
  color: #756e15;
  background: #fffbd1;
  border: 1px solid #87803e;
}
.error {
  color: white;
  background: var(--red);
  border: 1px solid #a33a3a;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: var(--dark-green);
    color: #ffffff;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--dark-green);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: var(--light-green);
}
