#map {
    height: 100%;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #bccbe9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: black;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.site-bar {
    border-style: solid;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
    /*color: #818181;*/
}

.site-menu-exit-btn {
    width: 40px;
    float: left;
}

.site-map-icon {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700&display=swap');

.site-menu-wrapper {
    width: 590px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
}

.site-menu-vehicle-list-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
}

.site-menu-vehicle-list-grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.site-menu-button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button {
    letter-spacing: 3px;
    border: none;
    padding: 10px;
    background-color: #bccbe9;
    color: #232c3d;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: #d5e3ff;
}

button.active {
    background-color: white;
}

.active {
    background-color: white;
}

p {
    text-align: left;
    padding: 10px;
}

.content {
    display: none;
    padding: 10px 20px;
}

.content.active {
    display: block;
}

.session-status-grid-container {
    position: absolute;
    top: 5vh;
    width: 100%;
    background-color: white;
    z-index: 3;
    display: grid;
    grid-template-columns: auto auto;
    border-style: solid;
    font-size: 30px;
}

.hidden {
    display: none !important;
}

.session-status-grid-item1 {
    text-align: left;
    margin-left: 20px;
}

.session-status-grid-item2 {
    text-align: right;
    margin-right: 20px;
}

.rent-spot-menu-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    /*letter-spacing: 3px;*/
    margin-top: 20px;
}

.rent-spot-menu-grid-item1 {
    font-size: 28px;
    text-align: left;
    margin-left: 20px;
}

.rent-spot-menu-grid-item2 {
    text-align: right;
    margin-right: 20px;
}

.rent-spot-menu-grid-item2 img {
    width: 80px;
}

.parking-spot-menu-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    /*letter-spacing: 3px;*/
    margin-top: 20px;
}

.parking-spot-menu-grid-item1 {
    font-size: 28px;
    text-align: left;
    margin-left: 20px;
}

.parking-spot-menu-grid-item2 {
    text-align: right;
    margin-right: 20px;
}

/* (A) THE BASE */
.bar {
    padding: 10px;
    margin: 10px;
    color: #333;
    background: #fafafa;
    border: 1px solid #ccc;
    position:absolute;
    top: 10vh;
    left: 50vh;
    z-index: 10;
    animation: fadeOut 2s forwards;
    animation-delay: 5s;
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* (B) THE VARIATIONS */
.info {
  color: #204a8e;
  background: #c9ddff;
  border: 1px solid #4c699b;
}
.success {
  color: #2b7515;
  background: #ecffd6;
  border: 1px solid #617c42;
}
.warn {
  color: #756e15;
  background: #fffbd1;
  border: 1px solid #87803e;
}
.error {
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
}