<html>
<head>
    {% load static %}
    <title>Add Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'station_admin/client/css/style.css' %}"/>
    <script type="module" src="./index.js"></script>
    <script src="{% static 'station_admin/client/js/load_side_bar.js' %}"></script>
    <script type="module" src="{% static 'station_admin/client/js/load_google_maps.js' %}"></script>
</head>
<body>
{% load static %}
<div id="mySidebar" class="sidebar">
    <a class="closebtn" id="sidebar-exit-btn">×</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>

<div id="main">
    <div id="sidebar-toggle-btn" class="sidebarr">
        <img style="width: 40px" src="{% static 'station_admin/client/img/svg/menu.png' %}">
    </div>
</div>

<div id="map"></div>

{% for site in sites %}
    <div class="site-bar" data-side-id='{{ site.id }}'>
        <img style="width: 40px" src="{% static 'station_admin/client/img/svg/exit.png' %}"
             data-site-bar-exit-btn='{{ site.id }}'>
        <div class="site-bar-content">
            <h3>{{ site.name }}</h3>
            <p>12 km range</p>

            <div class="site-menu-wrapper">
                <div class="site-menu-button-wrapper">
                    <button class="tab-button active" style="border-top-left-radius: 10px;" data-id="home" data-site-list-type="bike" data-site-id="{{ site.id }}">Bikes</button>

                    <button class="tab-button" style="border-top-right-radius: 10px;" data-id="contact" data-site-list-type="scooter" data-site-id="{{ site.id }}">Scooters</button>
                </div>
                <div class="contentWrapper">
                    <p class="content active" id="home" data-site-vehicle-list="bike-{{ site.id }}">
                        Bike list
                    </p>

                    <p class="content" id="contact" data-site-vehicle-list="scooter-{{ site.id }}">
                        Scooter list
                    </p>
                </div>
            </div>
    </body>

    </div>
    </div>
{% endfor %}

<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_rEmoEcSpdJD8JWwvtXmr8nzX_rzKqQQ&callback=initMap&v=weekly"
        defer
></script>
</body>
</html>