<html>
<head>
    {% load static %}
    <title>Add Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <script>window.CSRF_TOKEN = "{{ csrf_token }}"</script>
    <link rel="stylesheet" type="text/css" href="{% static 'station_admin/client/css/style.css' %}"/>

    <script src="{% static 'station_admin/client/js/load_side_bar.js' %}"></script>
    <script type="module" src="{% static 'station_admin/client/js/load_google_maps.js' %}"></script>
</head>
<body>
{% load static %}
{% if spot %}
    <div
            data-preselected-spot-id="{{ spot.id }}"
            data-preselected-spot-latitude="{{ spot.site.latitude }}"
            data-preselected-spot-longitude="{{ spot.site.longitude }}"
            data-preselected-spot-site-id="{{ spot.site.id }}"
    ></div>
{% endif %}

{% include 'client/sidebar.html' %}

<div class="session-status-grid-container {% if not renting_session and not has_renting_reservation %} hidden{% endif %}">
    <div class="session-status-grid-item1" data-session-status-text>Ride is active</div>
    <div class="session-status-grid-item2">
        {% if renting_session %}
            <div data-session-elapsed-seconds="{{ renting_session.get_elapsed_seconds }}"></div>
        {% elif renting_reservation %}
            <div data-session-elapsed-seconds="{{ renting_reservation.get_elapsed_seconds }}"></div>
        {% else %}
            <div data-session-elapsed-seconds="0"></div>
        {% endif %}
        <div>
            <button class="session-status-cancel-btn {% if not has_renting_reservation %} hidden {% endif %}">Cancel
                reservation
            </button>
        </div>
    </div>
</div>

<div class="message-container" data-message-container></div>

<div id="map"></div>

{% for site in sites %}
    <div class="site-bar" data-side-id='{{ site.id }}'
            {% if preselected_site and preselected_site.id == site.id %}
         data-preselected-site
         data-preselected-site-latitude="{{ site.latitude }}"
         data-preselected-site-longitude="{{ site.longitude }}"
            {% endif %}
    >
        <img class="site-menu-exit-btn" src="{% static 'station_admin/client/img/svg/exit.png' %}"
             data-site-bar-exit-btn='{{ site.id }}'>
        <div class="parking-spot-menu-grid-container">
        <div class="parking-spot-menu-grid-item1" style="font-size: 28px">
                <div>{{ site.name }}</div>
                <div>
                    Rent price: {{ site.rent_charge_rule.price }}€ / min.
                    {% if site.rent_charge_rule.max_time_mins %}
                        Maximum time: {{ site.rent_charge_rule.max_time_mins }} min.
                    {% endif %}
                </div>
            </div>
            <div class="parking-spot-menu-grid-item2" style="font-size: 28px">
                <div>Free bike spots: {{ site.get_unused_rent_bike_spots|length }}
                    / {{ site.get_bike_rent_spots|length }}</div>
                <div>Free scooter spots: {{ site.get_unused_rent_scooter_spots|length }}
                    / {{ site.get_scooter_rent_spots|length }}</div>
            </div>

{#            <div class="site-menu-grid">#}
{#                <div>Free bike spots: {{ site.get_unused_rent_bike_spots|length }}#}
{#                    / {{ site.get_bike_rent_spots|length }}</div>#}
{#                <div>Free scooter spots: {{ site.get_unused_rent_scooter_spots|length }}#}
{#                    / {{ site.get_scooter_rent_spots|length }}</div>#}
{#            </div>#}
        </div>
            <div class="site-menu-wrapper">
                <div class="site-menu-button-wrapper">
                    <button class="tab-button active" style="border-top-left-radius: 10px;" data-id="home"
                            data-site-list-type="bike" data-site-id="{{ site.id }}">Bikes for rent
                    </button>

                    <button class="tab-button" style="border-top-right-radius: 10px;" data-id="contact"
                            data-site-list-type="scooter" data-site-id="{{ site.id }}">Scooters for rent
                    </button>
                </div>
                <div class="contentWrapper">
                    <div class="content active" id="contact"
                         data-site-vehicle-list="bike-{{ site.id }}">
                        <div class="site-menu-vehicle-list-grid-container">
                            {#                            {% for spot in site.get_available_rent_bike_spots %}#}
                            {#                                <div data-rent-vehicle-row="{{ spot.id }}">#}
                            {#                                    {{ spot.vehicle }}#}
                            {#                                </div>#}
                            {#                                <div data-rent-vehicle-row="{{ spot.id }}">#}
                            {#                                    <button data-vehicle-reserve-id="{{ spot.id }}">Reserve</button>#}
                            {#                                </div>#}
                            {#                            {% endfor %}#}
                            {% for spot in available_rent_spots %}
                                {% if spot.site.id == site.id and spot.spot_type == 'bike' %}
                                    <div data-rent-vehicle-row="{{ spot.id }}">
                                        {{ spot.vehicle }}
                                    </div>
                                    <div data-rent-vehicle-row="{{ spot.id }}">
                                        <button data-vehicle-reserve-id="{{ spot.id }}">Reserve</button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="content" id="contact"
                         data-site-vehicle-list="scooter-{{ site.id }}">
                        <div class="site-menu-vehicle-list-grid-container">
                            {#                            {% for spot in site.get_available_rent_scooter_spots %}#}
                            {#                                <div data-rent-vehicle-row="{{ spot.id }}">#}
                            {#                                    {{ spot.vehicle }}#}
                            {#                                </div>#}
                            {#                                <div data-rent-vehicle-row="{{ spot.id }}">#}
                            {#                                    <button data-vehicle-reserve-id="{{ spot.id }}">Reserve</button>#}
                            {#                                </div>#}
                            {#                            {% endfor %}#}
                            {% for spot in available_rent_spots %}
                                {% if spot.site.id == site.id and spot.spot_type == 'scooter' %}
                                    <div data-rent-vehicle-row="{{ spot.id }}">
                                        {{ spot.vehicle }}
                                    </div>
                                    <div data-rent-vehicle-row="{{ spot.id }}">
                                        <button data-vehicle-reserve-id="{{ spot.id }}">Reserve</button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endfor %}

{% if spot %}
    <div class="site-bar" data-side-id='{{ site.id }}' data-rent-spot-id="{{ spot.id }}">
    <img class="site-menu-exit-btn" src="{% static 'station_admin/client/img/svg/exit.png' %}"
         data-site-bar-exit-btn='{{ site.id }}'>
    <div class="rent-spot-menu-grid-container">
        <div class="rent-spot-menu-grid-item1">
            {% if spot.vehicle.spot_type == 'bike' %}
                {{ spot.vehicle }}
            {% else %}
                {{ spot.vehicle }}
            {% endif %}
        </div>
        {% if spot.spot_type == 'bike' %}
            <div class="rent-spot-menu-grid-item2"><img src="{% static 'station_admin/client/img/svg/bicycle.svg' %}">
        {% else %}
            <div class="rent-spot-menu-grid-item2"><img src="{% static 'station_admin/client/img/svg/scooter.svg' %}">
        {% endif %}
        </div>
        </div>

        {% if renting_session %}
            <button data-end-rent-session-btn>End session</button>
        {% else %}
            <button data-start-rent-session-btn>Start ride</button>
        {% endif %}
        <div>Rent price: {{ spot.site.rent_charge_rule.price }}€ / min.</div>
    </div>
{% endif %}

<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_rEmoEcSpdJD8JWwvtXmr8nzX_rzKqQQ&callback=initMap&v=weekly"
        defer
></script>
</body>
</html>