<html>
<head>
    {% load static %}
    <title>Add Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <script>window.CSRF_TOKEN = "{{ csrf_token }}"</script>
    <link rel="stylesheet" type="text/css" href="{% static 'station_admin/client/css/style.css' %}"/>

    <script src="{% static 'station_admin/client/js/load_side_bar.js' %}"></script>
    <script type="module" src="{% static 'station_admin/client/js/load_parking_map.js' %}"></script>
</head>
<body>
{% include 'client/sidebar.html' %}

<div id="site-image-modal" class="image-modal">
    <span id="close-site-image" class="close">&times;</span>
    <img id="site-img" class="image-modal-content" src="{% static 'station_admin/client/img/png/site.png' %}">
    <div id="bike-caption">Site</div>
</div>

<div class="session-status-grid-container {% if not parking_session %} hidden{% endif %}">
    <div class="session-status-grid-item1">
        <div class="session-status-parking-label">
            Parking is active.
            {% if parking_session and parking_session.charge_rule.max_time_mins %} Max time:
                {{ parking_session.charge_rule.max_time_mins }} mins. {% endif %}
        </div>
        <div>
            <button class="show-parking-spot-btn">
                Show parking spot
            </button>
        </div>
    </div>
    <div class="session-status-grid-item2"
         data-session-elapsed-seconds=
                 "{% if parking_session %}{{ parking_session.get_elapsed_seconds }}{% else %}0{% endif %}"
    ></div>
</div>

<div class="message-container" data-message-container></div>

{% for site in sites_with_sessions %}
    <div class="site-bar"
         data-side-id='{{ site.0.id }}'
            {% if preselected_site and preselected_site.id == site.0.id %}
         data-preselected-site
         data-preselected-site-latitude="{{ site.0.latitude }}"
         data-preselected-site-longitude="{{ site.0.longitude }}"
            {% endif %}
    >
        <img class="site-menu-exit-btn" src="{% static 'station_admin/client/img/svg/exit.png' %}"
             data-site-bar-exit-btn='{{ site.0.id }}'>
        <div class="parking-spot-menu-grid-container">
            <div class="parking-spot-menu-grid-item1" style="font-size: 28px">
                <div>
                    <img class="site-icon" src="{% static 'station_admin/client/img/svg/label.svg' %}">
                    {{ site.0.name }}
                    <img class="site-image" src="{% static 'station_admin/client/img/svg/image_logo.svg' %}">
                </div>
                <div>
                <div>
                    <img class="site-icon" src="{% static 'station_admin/client/img/svg/euro.svg' %}">
                    Parking price: {{ site.0.parking_charge_rule.price }}€ / min.
                </div>
                    {% if site.0.parking_charge_rule.max_time_mins %}
                        <div>
                            <img class="site-icon" src="{% static 'station_admin/client/img/svg/time.svg' %}">
                            Max time: {{ site.0.parking_charge_rule.max_time_mins }} min.
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="parking-spot-menu-grid-item2" style="font-size: 28px">
                <div>
                    Bike spots: {{ site.0.get_available_bike_spots|length }} / {{ site.0.get_bike_spots|length }}
                    <img style="width:28px" src="{% static 'station_admin/client/img/svg/bicycle.svg' %}">
                </div>
                <div>
                    Scooter spots: {{ site.0.get_available_scooter_spots|length }} / {{ site.0.get_scooter_spots|length }}
                    <img style="width:28px" src="{% static 'station_admin/client/img/svg/scooter.svg' %}">
                </div>
            </div>
        </div>
        {% if site.1 %}
            <div class="site-menu-rent-section">
                <button class="site-menu-button" data-end-parking-session-btn="{{ site.0.id }}">End parking</button>
            </div>
        {% else %}
            <div class="parking-spot-menu-grid-container">
                <div class="parking-spot-menu-grid-item1">
                    {% if site.0.get_available_bike_spots|length %}
                        <button class="site-menu-button" data-start-parking-session-btn="{{ site.0.id }}"
                                data-start-parking-session-btn-type="bike">Park my bike
                        </button>
                    {% else %}
                        <button class="site-menu-button">No bike spots</button>
                    {% endif %}
                </div>
                <div class="parking-spot-menu-grid-item2">
                    {% if site.0.get_available_scooter_spots|length %}
                        <button class="site-menu-button" data-start-parking-session-btn="{{ site.0.id }}"
                                data-start-parking-session-btn-type="scooter">Park my scooter
                        </button>
                    {% else %}
                        <button class="site-menu-button">No scooter spots</button>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="site-menu-rent-section">
            {% if site.0.is_rent_available %}
                <button class="site-menu-button" data-rent-vehicle-btn="{{ site.0.id }}">Rent</button>
            {% else %}
                <button class="site-menu-button">Rent not available</button>
            {% endif %}
        </div>
    </div>
{% endfor %}

<div id="map"></div>

<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_rEmoEcSpdJD8JWwvtXmr8nzX_rzKqQQ&callback=initMap&v=weekly"
        defer
></script>
</body>