<html>
<head>
    {% load static %}
    <title>Add Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <script>window.CSRF_TOKEN = "{{ csrf_token }}"</script>
    <link rel="stylesheet" type="text/css" href="{% static 'station_admin/client/css/style.css' %}"/>

    <script src="{% static 'station_admin/client/js/load_side_bar.js' %}"></script>
    <script type="module" src="{% static 'station_admin/client/js/load_parking_map.js' %}"></script>
</head>
<body>
{% include 'client/sidebar.html' %}

<div data-message-container></div>

{% for site in sites_with_sessions %}
    <div class="site-bar" data-side-id='{{ site.0.id }}'>
        <img class="site-menu-exit-btn" src="{% static 'station_admin/client/img/svg/exit.png' %}"
             data-site-bar-exit-btn='{{ site.0.id }}'>
        <div class="parking-spot-menu-grid-container">
            <div class="parking-spot-menu-grid-item1">
                {{ site.0.name }} #{{ site.0.id }}
            </div>
            <div class="parking-spot-menu-grid-item2">
                <div>Bike spots:{{ site.0.get_available_bike_spots|length }} / {{ site.0.get_bike_spots|length }}</div>
                <div>Scooter spots: {{ site.0.get_available_scooter_spots|length }}
                    / {{ site.0.get_scooter_spots|length }}</div>
            </div>
        </div>
        <div class="parking-spot-menu-grid-container">
            {% if site.1 %}
                <button>end parking</button>
            {% else %}
                <div class="parking-spot-menu-grid-item1">
                    {% if site.0.get_available_bike_spots|length %}
                        <button>Park my bike</button>
                    {% else %}
                        <button>No bike spots available</button>
                    {% endif %}
                </div>
                <div class="parking-spot-menu-grid-item2">
                    {% if site.0.get_available_scooter_spots|length %}
                        <button>Park my scooter</button>
                    {% else %}
                        <button>No scooter spots available</button>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="parking-spot-menu-grid-container">
            {% if site.0.is_bike_rent_available or site.0.is_scooter_rent_available %}
                <button>Rent a vehicle</button>
            {% else %}
                <button>Rent is not available</button>
            {% endif %}
        </div>
    </div>
{% endfor %}

<div id="map"></div>

<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_rEmoEcSpdJD8JWwvtXmr8nzX_rzKqQQ&callback=initMap&v=weekly"
        defer
></script>
</body>